.card{
    position: relative;
    grid-column: span 4;
    height:600px;
    width: 100%;
    background-color: whitesmoke;
    transition:all 0.15s ;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}



.card:hover{
  -webkit-backface-visibility: hidden; 
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform:translateZ(0) scale(1.08); 

}


.image{
    position: relative; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 50%; 
}
.image img{
    height: 100%;
    width: 100%;
}

.descritpion{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    background-color: whitesmoke;
    color:#142d4c; ;
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* Add padding for content */
    box-sizing: border-box; /* Ensure padding is included in the height */
}

.descritpion h1,p{
    padding:5px;
    margin-top: 0;
}
.descritpion h5{
    font-size: 17px;
}

/* Hide the scrollbar by default */
.descritpion::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .descritpion::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .descritpion::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  /* Show the scrollbar when hovering over the card */
  .movie-card:hover .descritpion::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .movie-card:hover .descritpion::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

