
.navbar li{
    display: inline;
    list-style: none;
    padding: 5px 100px;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}
.navbar li a{
    text-decoration: none;
    color:#385170;
}
.navbar{
    width: 100%;
    text-align: center;
    top: 0;

    height: 30px;
    position: fixed;
    z-index: 999;
}
.navbar ul{

    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 10px;
    padding: 10px;
    background-color:#E5E5E5; 
    grid-column: 3/11;

}
@media screen and (max-width: 1100px) {
  /* Reset styles for smaller screens */
  .navbar li {
    display: block;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }

  .navbar ul {
    grid-column: initial; /* Reset grid placement for smaller screens */
    display: block;
    width: 100%;
    grid-column: span 8;
  }
}